<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Parabank Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Parabank Functional Tests">

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AccountTest"/>
            <class name="tests.TransferFundsTest"/>
            <class name="tests.BillPayTest"/>
        </classes>

    </test>

</suite>